@CHARSET "ISO-8859-1";

.ll {
	background-color: #CEF6E3;
	width:940px;
	padding-left:40px;
	position:absolute;
	top:380px;
	left:150px;
	z-index: 2;
}
.llpaid {
	background-color: #CEF6E3;
	width:940px;
	padding-left:40px;
	position:absolute;
	top:380px;
	left:150px;
	z-index: 2;
}

.h {
	position:absolute;
	top: 7px;
	left:950px; 
}
.sh {
	position:absolute;
	top: 7px;
	left:950px; 
}
.ss{
	top:50px;
	position:absolute;
	left:400px; 
}
.fn{
	position:absolute;
	left:580px;  
}
.p{
	top:500px;
	left:380px;
	position:absolute;  
}
.fns{
	bottom:350px;
	position:absolute;
	left:200px;  
}
.paids{
	top:130px;
	left:30px;
	position: absolute;
}